@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
      background: rgb(2,0,36);  
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(242,255,173,1) 0%, rgba(86,221,252,1) 100%, rgba(0,212,255,1) 500%); 
}
.image-grid{
    min-height: 100%;
    width: 100%;
     height: 850px; 
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}
.ptext{
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 70px;
    font-weight: 800;
    padding-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
.india{
    padding: 50px 80px;
    background-color: azure;
     text-align: center; 
    
}
#in{
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    line-height: 200%;
}
#head{
    font-size: 900;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    font-weight: 35px;
}
.textbg{
    text-shadow: #af3f3f;
}
.pos{
    background-color: rgb(0, 170, 255);
    top: 0;
    color: aliceblue;
  
}

h1{
    font-size: 50px; 
    justify-content: center;
    position: relative;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 100px;
}
.card{
    width: 400px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: transform 0.6 ease;
}
.card:hover{
    transform: translateY(-20px);
}
.card img{
     
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-content{
    padding: 20px;
}
.card-content h2{
    font-size: 24px;
    margin-bottom: 10px;

}
.card-content p{
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}
.card-button{
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
   
}